<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Busqueda de Coincidencias</title>
  </head>
  <body>
    <h1>Busqueda de Coincidencias</h1>
    <form
      action="/buscar"
      method="post"
    >
      <label for="columna">Seleccione la columna:</label>
      <select
        name="columna"
        id="columna"
      >
        <option value="Clave_cliente">Clave_cliente</option>
        <option value="Nombre_Contacto">Nombre_Contacto</option>
        <option value="Correo">Correo</option>
        <option value="Teléfono_Contacto">Teléfono_Contacto</option>
      </select>
      <br />
      <label for="valor">Ingrese el valor a buscar:</label>
      <input
        type="text"
        name="valor"
        id="valor"
      />
      <br />
      <input
        type="submit"
        value="Buscar"
      />
    </form>

    {% if resultados %}
    <h2>Resultados:</h2>
    <ul>
      {% for resultado in resultados %}
      <li>{{ resultado }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
